* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #2e3131;
  height: 20%;
  width: 100%;
  padding: 30px 20px 30px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .input-tarefa {
  padding: 15px 10px;
  outline: none;
  border: none;
}

.header .add-tarefa {
  padding: 15px 10px;
  border: none;
}

.container {
  background-color: #bfbfbf;
  height: 80%;
  padding: 20px 0px 20px 30px;
}

@media (min-width: 768px) {
  .header .add-tarefa,
  .header .input-tarefa {
    padding: 20px 15px;
  }

  .header {
    justify-content: flex-start;
  }
}
