* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #2e3131;
  height: 20%;
  width: 100%;
  padding: 30px 20px 30px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .input-tarefa {
  padding: 15px 10px;
  outline: none;
  border: none;
}

.header .add-tarefa {
  padding: 15px 10px;
  border: none;
}

.container {
  background-color: #bfbfbf;
  height: 80%;
  padding: 20px 0px 20px 30px;
}

.list {
  font-size: 2rem;
}

.list img {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header .add-tarefa,
  .header .input-tarefa {
    padding: 20px 15px;
  }

  .header {
    justify-content: flex-start;
  }

  .list {
    font-size: 2.4rem;
  }
}
